.signUpHeader {
    text-align: center;
    margin-top: 20px;
}

.signUpForm {
    margin-top: 20px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
}

.signUpForm label {
    align-self: left;
}

.signUpForm input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #8d8d8d;
    box-sizing: border-box;
    border-radius: 5px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 0px;
}